@import "../../../index.css";

:root {
    --gap: 6px;
}

.container {
    border: 2px solid #2563eb;
    border-radius: 8px; 
    padding: 10px;
    box-shadow: 0 0 25px -15px #00000017;
    transition: .2s;
    margin: var(--gap);
    width: calc(16.66% - 12px);

    @media (max-width: 1280px) {
        width: calc(20% - 2*var(--gap));
    }
    @media (max-width: 1024px) {
        width: calc(25% - 2*var(--gap));
    }
    @media (max-width: 768px) {
        width: calc(100% - 2*var(--gap));
        margin: var(--gap) 0;
    }
}

.container:hover {
    border-color: hsl(221, 83%, 60%);
    box-shadow: 0 0 20px 0 #00000033;
}

.title {
    font-size: 20px;
    margin-bottom: 4px;
    word-wrap: break-word;
    cursor: default;
}

.description {
    word-wrap: break-word;
    cursor: default;
}